@page "/organization"
@attribute [StreamRendering]

<PageTitle>Organization</PageTitle>

<h1>Organization</h1>

The Modern Fisher
<p>The Modern Fisher is the official student publication of Cebu Technological University - Daanbantayan Campus.</p>

