@page "/organization"
@attribute [StreamRendering]

<PageTitle>Organization</PageTitle>

<div class="profile-wrap">
    <div class="section-label">[ ORGANIZATION_MODULE ]</div>
    <h1 class="page-title">ORGANIZATION LOG</h1>

    <div class="edu-path-label">TRACING ORGANIZATION PATH...</div>


<h1>The Modern Fisher</h1>

<p class= "hero-subtitle"> The official student publication of Cebu Technological University - Daanbantayan Campus.</p>

    <div class="home-portrait" style="margin-bottom: 2rem;">
        <div class="portrait-ring portrait-ring--outer"></div>
        <div class="portrait-ring portrait-ring--middle"></div>
        <div class="portrait-frame">
            <img src="images/TMF LOGO.png" alt="TMF" />
        </div>
        <div class="portrait-scan"></div>
</div> 


<h1>Position</h1>
<p class= "hero-subtitle">Copy Editor</p>
<p>I am a dedicated copy editor for The Modern Fisher, ensuring that all articles posted are error free, and their best quality.</p>
 </div>
